#central-body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#clock {
	font-family: 'Inter', 'SF Pro Text', sans-serif;
	font-weight: bold;
	font-size: 96px;
	color: var(--clock-color);
	text-align: center;
	margin-bottom: 40px;
	text-shadow: 2px 2px #0A0A0A22;
	user-select: none;
	-webkit-user-drag: none;
}


#search-box {
	font-family: 'Inter', 'SF Pro Text', sans-serif;
	background: var(--base-bg);
	color: var(--font-color);
	font-size: 16pt;
	text-align: center;
	position: relative; 
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	border: none;
	border-radius: 24px;
	box-shadow:
				0 2.8px 2.2px rgba(0, 0, 0, 0.034),
				0 6.7px 5.3px rgba(0, 0, 0, 0.048),
				0 12.5px 10px rgba(0, 0, 0, 0.06),
				0 22.3px 17.9px rgba(0, 0, 0, 0.072),
				0 41.8px 33.4px rgba(0, 0, 0, 0.086),
				0 100px 80px rgba(0, 0, 0, 0.12);
}
