/* Load all CSS */
@import url('font-face.css');
@import url('global.css');
@import url('animated-background.css');
@import url('central-body.css');
@import url('suggestions.css');
@import url('panel-body.css');
@import url('panel-button.css');
@import url('web-menu.css');
