#suggestions-container {
	background-color: var(--base-bg);
	position: absolute;
	width: 100%;
	height: auto;
	margin-top: 5px;
	border-radius: 24px;
	display: none;
	box-shadow:
				0 2.8px 2.2px rgba(0, 0, 0, 0.034),
				0 6.7px 5.3px rgba(0, 0, 0, 0.048),
				0 12.5px 10px rgba(0, 0, 0, 0.06),
				0 22.3px 17.9px rgba(0, 0, 0, 0.072),
				0 41.8px 33.4px rgba(0, 0, 0, 0.086),
				0 100px 80px rgba(0, 0, 0, 0.12);
	user-select: none;
}

#suggestions-container.suggestion-show {
	display: block;
}

ul#suggestions {
	list-style: none !important;
	padding: 0;
}

li.suggestion {
	padding: 0;
	list-style: none;
	width: 100%;
}

li button.suggestion-button {
	background: transparent;
	color: var(--font-color);
	font-size: 12pt;
	border: none;
	width: auto;
	margin: 0;
	padding: 2px 0;
	width: 100%;
	outline: none;
	overflow-y: auto;
}

li button.suggestion-button:hover {
	background: var(--button-hover);
}

li button.suggestion-button:active {
	background: var(--button-active);
}

li button.suggestion-button:focus {
	background: var(--button-hover);
}
